<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="logoContainer">
            <div class="logoBarContainer">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="contenedorBotonBuscador">
                    <div class="contenedorBuscador">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="contenedorCard">
                <h2 class="tituloCard"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <div class="menuContenedor">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis Compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="menuHamburguesaContenedor">
            <div class="menuHamburguesa">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="ofertas">
    </section>
    <main>
        <h3>Basado en tu última visita</h3>
        <section class="ultimaVisita">
            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" srcset="">
                    <div class="card">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook-pro" srcset="">
                    <div class="card">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBoock Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="" srcset="">
                    <div class="card">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="" srcset="">
                    <div class="card">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <h3>Ofertas</h3>
        <section class="ofertas">
            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="" srcset="">
                    <div class="card">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook-pro" srcset="">
                    <div class="card">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBoock Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="" srcset="">
                    <div class="card">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="" srcset="">
                    <div class="card">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <section>
                <span class="iconosFooter"><i class="fas fa-credit-card"></i></span>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="infoFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <span class="iconosFooter"><i class="fas fa-gift"></i></span>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="infoFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <span class="iconosFooter"><i class="fas fa-user-shield"></i></span>
                <h3>Seguridad, de principio a fin</h3>
                <p class="infoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="pieFooter">
            <p class="infoFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>