main {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: #fff;
    color: #525252;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main label {
    font-size: 14px;
    font-weight: bold;
    color: #313131;
}

.registroCard {
    margin: 0;
    padding-top: 10px;
}

.registroCard p{
    margin-top: 20px;
    text-align: center;
}

.row {
    margin: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup input {
    margin-top: 5px;
    height: 30px;
    border: 1px solid #CED4DA;
}

.formGroup label {
    margin-top: 10px;
}

.buyCell {
    display: flex;
    flex-direction: column;
}

.buyCellGroup {
    display: flex;
    border: 1px solid #CED4DA;
    margin-top: 5px;
    height: 30px;
    align-items: center;
    width: 95%;
}

.buyCellGroup .input-cell {
    margin-left: 10px;
    margin-top: 0;
    height: 15px;
    width: 20px;
}

.buyCellGroup label {
    margin: 0;
    margin-left: 5px;
}

.form-group input:focus {
    outline: none;
    border: 1px solid #06c;
}

.category-Group div {
    display: flex;
    text-align: center;
    width: 10px;
}

.groupCategory {
    display: flex;
    height: 28.5px;
}


.groupCategory label, input {
    margin: 0;
}

.groupCategory input {
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.labelGroup {
    margin-top: 8px;
}

.category-Group {
    border: 1px solid #CED4DA;
    margin-top: 5px;
    padding: 5px 0;
    width: 95%;
}

.buttons {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowButtonBox {
    display: flex;
    width: 90%;
    height: 50%;
    justify-content: space-between;
}

.buttons .buttonSend {
    background-color: #4CAF50; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons .buttonSend:hover{
    background-color: white;
    color: #4CAF50;
    border: solid #4CAF50;
}

.buttons .buttonClean{
    background-color: red; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons .buttonClean:hover{
    background-color: white;
    color: red;
    border: solid red;
}



/* Media Query */


/* Tablet */
@media (min-width: 768px) {

    .rowData {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .rowData1 {
        width: 49%;
    }

    .rowData2 {
        width: 49%;
    }

    .rowButtonBox {
        display: flex;  
        width: 80%;
        height: 50%;
        justify-content: center;
    }

    .rowButtonBox button {
        height: 100%;
        width: 30%;
        margin-right: 20px;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 2px;
        cursor: pointer;
    }

    .formGroup input {
        width: 100%;
    }

    .category-Group {
        width: 100%;
    }

}

/* Desktop */
@media (min-width: 1024px) {
    .rowButtonBox {
        display: flex;
        width: 80%;
        height: 50%;
        justify-content: center;
    }

    .rowButtonBox button {
        height: 100%;
        width: 30%;
        margin-right: 20px;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 2px;
        cursor: pointer;
    }

}

